# Set omzh Plug-ins
plugins=(
  docker
  rsync
  sudo
)

# Abs path to oh-my-zsh
export ZSH="$HOME/.oh-my-zsh"

# Abs path to custom dotfiles configs
export DOTFILES_DIR="$HOME/Code/projects/setup/dotfiles"

# Default theme
ZSH_THEME="robbyrussell"

# Import oh-my-zsh
source $ZSH/oh-my-zsh.sh

# Import custom dotfiles configs
source $DOTFILES_DIR/main.sh
